header {
  background: #FBF6F6;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 90px;
  font-size: 22px;
  color: var(--primary-color);
  border-bottom: 0.2em solid var(--secondary-color);
}

.logo{
  text-align: left;
  float: left;
  margin-top: 0.1em;
  margin-left: 1em;
}

.nav {
  font-size: 25px;
}

ul{
  margin-left: 2em;
}

li {
  display: inline;
  margin-left: 0.2em;
}

.nav-button{
  background: none;
  border-radius: 0;
  color: black;
}

.nav-button:hover{
  background: var(--primary-color-bright);
  color: white;
  border-radius: 1em;
}

.button-login{
  color: #111111;
  background: none;
}

.login-signup{
  text-align: right;
  margin-top: 0.1em;
}
