.course-excerpt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 10px 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 20px;
    backface-visibility: hidden;
}

.course-excerpt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform ease-in-out;
    backface-visibility: hidden;
}

.course-excerpt:hover {
    transform: translateY(-5px);
}

.course-excerpt:hover::after {
    transform: scaleX(1);
}

.searchComponent {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    padding-top: 8em;
    padding-bottom: 5em;
    padding-right: 50em;
}

.courses-list{
    margin-top: 20em;
    width: 1100px;
    margin-left: 6em;
}

.course-button{
    text-decoration: none;
    color: #333333;
}

.course-button:hover{
    text-decoration: none;
    color: #333333;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.all-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.rating-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-text{
    font-size: 12px;
    color: #999999;
    margin: 0;
    padding: 0;
}

.rating-point{
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-top: 5px;
}

.course-info {
    flex-grow: 1;
    margin-left: 20px;
}

.professorName {
    font-size: 1.2em;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.description {
    font-size: 14px;
    color: #777777;
    margin: 0;
    padding: 0;
}

.divider {
    border: none;
    border-top: 1px solid #dddddd;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
}
