.Header {
    border-bottom: 1px solid #ddd;
    border-bottom: 0.2em solid var(--secondary-color);
    margin-bottom: 50px;
}

.navbar-nav .nav-link.active {
    color: var(--primary-color-bright);
}

.nav-button{
    color: #111111;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2em;
    margin-top: 0.5em;
}

.nav-button:hover{
    color: #ED8B00;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2em;
}

.button-login{
    font-size: 1.5em;
    font-weight: bold;
    color: #111111;
    margin-left: 2em;
    margin-top: 0.5em;
}

.button-signup {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #630031;
    margin-left: 1em;
    margin-top: 0.5em;
    border-radius: 15px;
}

.button-login:hover{
    color: var(--primary-color-bright);
}

.button-signup:hover {
    background-color: var(--primary-color-bright);
    color: white;
}

.button-signup:focus {
    background-color: var(--primary-color-bright) !important;
    color: white !important;
}

