.Header {
    border-bottom: 0.1em solid var(--secondary-color);
    margin-bottom: 25px;
    background-color: #FBF6F6;
}

.navbar-nav .nav-link.active{
    color: var(--primary-color-bright);
}

.nav-button:focus {
    outline: none;
}

.nav-button{
    color: #111111;
    font-size: 1.25em;
    margin-left: 2em;
    margin-top: 0.5em;
}

.nav-button:hover{
    color: #630031;
    font-size: 1.25em;
    margin-left: 2em;
}

.button-login{
    background-color: transparent;
    border: none;
    font-size: 1.25em;
    color: #111111;
    margin-left: 2em;
    margin-top: 0.5em;
}

.button-login:hover{
    color: #630031;
}

.button-logout {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #630031;
    margin-top: 0.5em;
    border-radius: 15px;
}

.button-logout:hover {
    background-color: var(--primary-color-bright);
    color: white;
}

.button-logout:focus,
.button-logout.active{
    background-color: var(--primary-color-bright) !important;
    color: white !important;
}

.button-profile{
    background-color: transparent;
    border: none;
    font-size: 3em;
    font-weight: bold;
    color: #630031;
    margin-right: 1em;
}

.button-profile:hover{
    color: var(--primary-color-bright);
}

.nav-button {
    letter-spacing: 1.5px;
}