.welcome-text{
    padding-top: 50px;
    font-size: 25px;
    letter-spacing: 0.9px;
    line-height: 40px;
    text-align: center;
}

.welcomeIcon{
    display: inline-block;
}

.searchingImage{
    margin-top: 2em;
    margin-left: 12em;
}

.iconText{
    color: #630031;
    font-weight: bold;
    margin-left: 12em;
    margin-top: 0.5em;
}

.reviewImage{
    margin-top: 2em;
    margin-left: 11em;
}

.connectImage{
    margin-top: 2em;
    margin-left: 10em;
}

.iconText-connect{
    color: #630031;
    font-weight: bold;
    margin-left: 8em;
    margin-top: 0.5em;
    font-size: 20px;
}

.buttonDiv {
    text-align: center;
}
.homepageButton {

    background-color: #D1461C;
    border-color: #D1461C;
    color: white;
    padding: 12px 45px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 23px;
}
.homepageButton:hover {
    background-color: #c03911;
    border-color: #be3b13;
}

.welcomeColumns {
    display: flex;
    justify-content: center;
}

.welcomeColumn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;
}

.homepageImage {
    width: 75px;
}

.homepageImageText {
    margin-top: 10px;
}