.HomePage {
    background-image: url('../images/hero.png');
    background-size: cover;
    background-position: bottom;
    background-position-x: right;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.welcome-text{
    font-size: 1.2em;
    letter-spacing: 0.9px;
    font-weight: 500;
    margin-left: 3em;
}

.welcomeIcon{
    display: inline-block;
}

.searchingImage{
    margin-top: 2em;
    margin-left: 12em;
}

.iconText{
    color: #630031;
    font-weight: bold;
    margin-left: 12em;
    margin-top: 0.5em;
}

.reviewImage{
    margin-top: 2em;
    margin-left: 11em;
}

.connectImage{
    margin-top: 2em;
    margin-left: 10em;
}

.iconText-connect{
    color: #630031;
    font-weight: bold;
    margin-left: 8em;
    margin-top: 0.5em;
    font-size: 20px;
}

.buttonDiv {
    margin-left: 13.5em;
}

.homepageButton {
    background-color: #007bff;;
    border-color: #007bff;;
    color: white;
    padding: 12px 45px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 23px;
}

.homepageButton:hover {
    background-color: #1976d2;
    border-color: #1976d2;
}

.welcomeColumns {
    display: flex;
    justify-content: center;
    margin-left: 5em;
}

.welcomeColumn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    text-align: center;
}

.homepageImage {
    width: 75px;
}

.homepageImageText {
    margin-top: 10px;
}

.welcome-back{
    margin-left: 10em;
    font-weight: 500;
}

.course-recommendation {
    margin-left: 10em;
}