.welcome-title{
    color: #630031;
    font-weight: bold;
    margin-left: 3em;
    font-size: 3em;
}

.welcome-text{
    color: #ED8B00;
    margin-left: 9em;
    text-align: justify;
    font-weight: bold;
    width: 800px;
    font-size: 20px;
}

.welcomeIcon{
    display: inline-block;
}

.searchingImage{
    margin-top: 2em;
    margin-left: 12em;
    width: 100px;
}

.iconText{
    color: #630031;
    font-weight: bold;
    margin-left: 12em;
    margin-top: 0.5em;
}

.reviewImage{
    margin-top: 2em;
    margin-left: 11em;
    width: 100px;
}

.connectImage{
    margin-top: 2em;
    margin-left: 10em;
    width: 100px;
}

.iconText-connect{
    color: #630031;
    font-weight: bold;
    margin-left: 8em;
    margin-top: 0.5em;
    font-size: 20px;
}