.LoginPage {
    display: flex;
}

.welcomeBlock {
    display: inline-block;
}

.welcomeText {
    margin-left: 2em;
    color: #630031;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.boxOrange {
    margin-left: 7em;
    border: 3px solid #ED8B00;
    width: 39em;
    height: 9em;
}

.boxGreen {
    margin-left: -0.5em;
    margin-top: 0.2em;
    border: 3px solid #2CD5C4;
    width: 39em;
    height: 9em;
}

.boxRed {
    margin-left: 0.5em;
    margin-top: 0.1em;
    padding-right: 10px;
    border: 3px solid #D83379;
    width: 39em;
    height: 9em;
}

.loginText {
    color: #630031;
    font-size: 2em;
    font-weight: bold;
    margin-left: 0.5em;
}

.loginTextSmall {
    color: #ED8B00;
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
    padding-right: 1em;
}

.LoginForm {
    margin-left: 5em;
    background-color: #FBF6F6;
    flex-grow: 1;
    float: right;
    margin-top: -50px;
    padding: 3em;
    margin-bottom: -50px;
}

.loginFromTitle {
    font-size: 3em;
    font-weight: bold;
    color: #630031;
    text-align: center;
}

.login-component {
    margin-bottom: 1em;
    background: none;
    border: 10px none;
    border-bottom: solid var(--primary-color);
    outline: 0;
    border-radius: 0;

}

.login-component:focus {
    margin-bottom: 1em;
    background: none;
    border: 10px none;
    border-bottom: solid var(--primary-color);
    outline: 0;
    border-radius: 0;
    box-shadow: none;
}

.login-info {
    margin-top: 1em;
    color: var(--secondary-color);
    font-size: 1.5em;
    margin-left: 0.5em;
}

.main-login-button {
    background-color: #630031;
    color: white;
    font-weight: bold;
    border: none;
    /* margin-top: 1em;
    margin-left: 6em; */
    font-size: 25px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
}

.main-login-button:hover {
    background-color: #D83379;
}

.errorMessage {
    color: red;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.google-login {
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}